body {
    font-family: Arial, sans-serif;
    background-color: #36281b;
}

.lounge-con {
    margin-top: 15px;
    height: 900px;
}

.navbar {
    background-color: #36281b;
    border-bottom: 5px solid;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
}

#nav_logo {
    height: 70px;
}

.navbar_brand {
    display: inline;
}

.navbar-light .navbar-nav .nav-link {
    color: #f3e598;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c9a35e;
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #c9a35e;
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link:active {
    color: #c9a35e;
    text-decoration: underline;
}

#logout-btn {
    background-color: #36281b;
    border-image:linear-gradient(to right, #c9a35e 30%, #f3e598);
    border-image-slice: 1;
    border-width: 3px;
    color: #f3e598;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

#logout-btn:hover {
    color: #c9a35e;
    text-decoration: none;
}

#logout-btn:focus {
    color: #c9a35e;
    text-decoration: none;
}

#logout-btn:active {
    color: #c9a35e;
    text-decoration: none;
}

router-link:hover {
    text-decoration: none;
}

.lounge-col-8 {
    border: solid 3px;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
    width: 700px;
    height: 300px;
}

.locker-col {
    height: 300px;
}

.locker-col h4 {
    color: #f3e598;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 3px;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
}

.locker-col h5 {
    color: #f3e598;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
}

.dateJoin {
    color: #bb8b49;
}

.locker-col img {
    margin: 0 90px;
    margin-top: 15px;
    height: 180px;
    width: 180px;
}

.img-thumbnail {
    background-image: linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    background-image-slice: 1;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: #f3e598;
    background-color: #36281b;
    display: inline-block;
    padding: 5px 15px;
    margin-top: 20px;
    margin-left: 30px;
    border: solid 3px;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
    text-transform: uppercase;
    font-size: 16px;
}

.inputfile + label:hover {
    color: #bb8b49;
    cursor: pointer;
}

.locker-col .btn {
    display: inline-block;
    float: right;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
}

#userInfo {
    margin-bottom: 10px;
}

.userName {
    color: #bb8b49;
}

.text-center {
    color: #f3e598;
    margin: 15px auto;
    text-transform: capitalize;
}

.center-block {
    display: inline-block;
    margin: 15px auto;
}

.cigar-table {
    max-width: 100%;
    margin: 20px 40px 15px 0px;
}

.cigar-table th {
    border-top: solid 3px #bb8b49;
    color: #f3e598;
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.cigar-table td {
    color: #f3e598;
    font-size: 100px;
    text-align: center;
    border-top: solid 3px #bb8b49;
}

.lounge-col-12 {
    border: solid 3px;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
    height: 570px;
    overflow: scroll;
    margin-bottom: 15px;
}

#liveFeed {
    margin-top: 15px;
}

#liveFeed h1 {
    padding-bottom: 10px;
    font-size: 36px;
    color: #bb8b49;
    margin: 15px auto;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 3px;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
}

#liveFeed img {
    height: 200px;
    margin: 20px 0 20px 50px;
    border: 5px solid;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
}

#liveFeed p {
    color: #f3e598;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.cigarLocker {
    color: #f3e598;
}

.lockerUser {
    text-transform: uppercase;
    text-decoration: underline;
}

.header2 {
    font-size: 16px;
    color: #f3e598;
}

.lockerBrand {
    color: #bb8b49;
}

.sizeBrand {
    color: #f3e598;
}

.checkinCount {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 26px;
}

.checkinNum {
    margin-top: 10px;
    color: #bb8b49;
    font-size: 36px;
}

#liveFeed i {
    font-size: 40px;
    color: #f3e598;
    margin: 10px 0 0 158px;
    border: 2px solid;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
    padding: 5px;
}

#liveFeed i:hover {
    color: #bb8b49;
    border: 2px solid;
    border-image:linear-gradient(to right, #f3e598, #c9a35e, #bb8b49);
    border-image-slice: 1;
}

.userCigars {
    margin: 15px 5px;
    border: 5px solid;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
}

footer p {
    padding-top: 15px;
    color: #f3e598;
    border-top: solid 5px;
    border-image:linear-gradient(to right, #bb8b49, #c9a35e, #f3e598);
    border-image-slice: 1;
    text-decoration: none;
}

footer {
    background-color: #36281b;
}
